@tailwind base;
@tailwind components;
@tailwind utilities;

@layer component{
.back{
  background-image: url("../public/Section.png");
  background-repeat: no-repeat;
  background-size: cover;
}
html{
  scroll-behavior: smooth;
}
.shadow{
  box-shadow: 10px 20px 50px 60px #1a161615;
  /* background: #FFFFFF; */
}
.shade{
  box-shadow: 0px 10px 20px 4px #00000015;
}
.shades{
  box-shadow: 0px 0px 1px 0px #282828CC;

box-shadow: 0px 0px 1px 0px #282828CC;

}
}
